{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
    <img src="{% static 'notes/img/logo-getit.png' %}" class="logo"/>
    <p class="subtitle">Como o Post-it, mas com o verbo dos deuses</p>
</div>

<div class="container">
    <form class="form-card" method="POST">
        {% csrf_token %}
        <label for="titulo">Título</label>
        <input 
            class="form-card-title" 
            maxlength="100" 
            id="titulo" 
            type="text" 
            name="titulo" 
        />
    
        <label for="detalhes">Detalhes</label>
        <textarea 
            class="autoresize"
            maxlength="1000" 
            id="detalhes" 
            name="detalhes"></textarea>
    
        <label for="tag">Tag</label>
        <textarea 
            maxlength="25" 
            id="tag" 
            class="autoresize"
            name="tag"></textarea>
    
        <input class="btn" type="submit" name="create" value="Criar" />
    </form>
    
    <a href="{% url 'notes:tags' %}">Ver todas as tags</a>
    
    <ul class="card-container">
        {% for note in notes %}
            <div class="card">
                <h3 class="card-title">{{ note.title }}</h3>
            
                <p class="card-content">{{ note.content }}</p>
            
                <form class="card-content" method="POST">
                    {% csrf_token %}
                    <input hidden="True" value="{{ note.id }}" name="id"/>
                    <input hidden="True" value="{{ note.title }}" name="titulo"/>
                    <input hidden="True" value="{{ note.content }}" name="detalhes"/>
                    <input hidden="True" value="{{ note.tag }}" name="tag"/>
    
                    <input class="btn-delete" type="submit" name="delete" value="Deletar"/>
    
                </form>
                <a href="{% url 'notes:note_view' note.id %}">Ver mais</a>
            
            </div>
        {% endfor %}
    </ul>
</div>

<script type="text/javascript" src="{% static 'notes/script/getit.js' %}"></script>

{% endblock %}