{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
    <div class="title-appbar">
        <img src="{% static 'notes/img/logo-getit.png' %}" class="logo"/>
        <p class="subtitle main-font">Como o Post-it, mas com o verbo dos deuses</p>
    </div>
</div>

<a class="back-notes up-effect" href="{% url 'notes:index' %}">
    <img width="24" src="{% static 'notes/img/left-arrow.png' %}">
    <span style="padding-left: 0.3rem;">Voltar</span>
</a>

<div class="container">
    {% if note %}
    <form class="form-card" method="POST">
        {% csrf_token %}
        <input 
            class="form-card-title" 
            maxlength="40" 
            id="titulo" 
            type="text" 
            name="titulo"
            value="{{ note.title }}" 
        />
    
        <textarea 
            class="autoresize"
            maxlength="100" 
            id="detalhes"
            name="detalhes">{{ note.content }}</textarea>
    
        {% if note.tag != None %}
            <input 
                maxlength="20" 
                id="tag" 
                class="autoresize"
                placeholder="{{ note.tag }}"
                name="tag"
            />
        {% else %}
            <input
                maxlength="20" 
                id="tag" 
                class="autoresize"
                placeholder="Tag (opcional)"
                name="tag"
            />
        {% endif %}

        {% if msg_error %}
            <p class="msg-error">{{ msg_error }}</p>
        {% endif %}

        <input class="btn" type="submit" name="update" value="Atualizar" />
    </form>
    {% endif %}
</div>

{% endblock %}