{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
    <div class="title-appbar">
        <img src="{% static 'notes/img/logo-getit.png' %}" class="logo"/>
        <p class="subtitle main-font">Como o Post-it, mas com o verbo dos deuses</p>
    </div>
</div>

<a class="back-notes" href="{% url 'notes:index' %}">
    <img width="24" src="{% static 'notes/img/left-arrow.png' %}">
    <span style="padding-left: 0.3rem;">Voltar</span>
</a>

{% if tags %}
    <div class="tag-container">
    {% for tag in tags %}
        <!-- <div class="tag-box"> -->
            <a class="tag-box tag-card-text" href="{% url 'notes:notes_by_tag' tag.id %}">
                <img src="{% static 'notes/img/tag.png' %}" class="tag-img" />
                <h2 class="h2">{{ tag.text }}</h2>
                {% for tag_id, tag_counter in counter.items %}
                    {% if tag.id == tag_id %}
                        <p>Post-it's: {{ tag_counter }}</p>
                    {% endif %}
                {% endfor %}
            </a>
        <!-- </div> -->
    {% endfor %}
    </div>
{% else %}
    <p class="no-tag main-font">Não há nenhuma tag por aqui...</p>
{% endif %}

    <script type="text/javascript" src="{% static 'notes/script/getit.js' %}"></script>

{% endblock %}